html, body {
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #2b283a;
    background-color: #f7f3e8;
}

/* typography */
body, 
h1, 
h3 {
    margin: 0;
}

h1 {
    font-size: 1.5rem;

}

h2 {
    margin-top: 0;
    font-size: 1.125rem;
}

.subheading {
    display: block;
    font-size: 0.85rem;
    color: #FFF4D2;
}

p {
    font-size: 0.75rem;
    line-height: 1.5;
}

/* links */

 a {
    color: #d95a24;
    text-decoration: none;
}

a:hover, a:active {
    color: #d4b44c;
}

.btn  {
    font-size: 1.125rem;
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
}

.buy-nft {
    background-color: #FCD252;
    color: #f7f3e8;
}

.more-info, .contact {
    background-color: #684C40;
    color: #E1C9A3;
}

.about-us {
    background-color: #f7f3e8;
    color: #FCD252;
}

.btn:hover, .btn:active{
    background-color: #E1C9A3;
    color: whitesmoke;
}



/* layout */
section, 
footer, 
header {
    padding: 1.25em 0px;
}


header, .section-two {
    background-color: #FCD252;  
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

.section-two{
    color: whitesmoke;
}

.section-two-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}


body, footer {
    font-size: 1rem;
}

footer {
    text-align: center;
    color: #d4b44c;
}




/* images */
.bored-ape-img {
    max-width: 600px;
    margin: 0 auto 2em;
    display: block;
    width: 100%;
}

.feature-image {
    flex: 1 220px;
}

.emoji-img, .snail-img{
    width: 100%;
    border-radius: 4.6px;
    margin-bottom: 1em;
} 




/* ----- NAVIGATION ----- */

nav a {
    color: #fff;   
    text-decoration: none; 
    font-size: 0.9rem;
    padding: 0.85em 0;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}



/* ----- MEDIA QUERIES ----- */


@media (max-width: 767px) {
    header {
        text-align: center;
    }

    nav {
        margin-top: 1em;
    }  

    li:not(:last-child) {
        border-bottom: 1px dotted #a190b6;
    }  
}

@media ( min-width: 768px ) {
    header, 
    section, 
    footer {
    padding: 2.875em 0;
    }

    .btn  {
    display: inline-block;
    margin-right: 0.5em;
    }


    h1 {
        font-size: 2.25rem;

    }

    h2 {
        font-size: 1.85rem;
    }

    .subheading {
        font-size: 1.25rem;
    }

    p {
    font-size: 1.35rem;
    }

    header .container {
        justify-content: space-between;
        align-items: center;
    }

    header .container,
    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 1.25em;
    }

    nav a {
        font-size: 1.1rem;
    }
}


